.home {
  position: relative;
  display: flexbox;
  overflow: hidden;
  margin-left:100px;
}

.product-query {
  position: relative;
  margin-left: 20px;
  top:14px;
  font-size: x-large;
  height: 40px;
  padding-left: 5px;
  width: 300px;
}

.search-button {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 0;
  margin: 0;
  border: 0px solid rgba(0,0,0,0);
  color: rgba(0,0,0,0);
  top:10px;
}

.search-icon {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0;
}

#categories {
  position: relative;
  margin: 20px;
  height: 40px;
  width: 300px;
  padding-left: 5px;
  font-size: x-large;
  top:13px;
}

#categories:hover {
  cursor: pointer;
}