.checkout-form {
    width: 100%;
    color: white;
    float: left;
  }

.form-title {
  text-align: center;
  font-size: xx-large;
  margin: 10px;
}
  
.checkout-complete {
  color: white;
}

.checkout-label {
  font-size: 20px;
}

.checkout-form-input {
  margin: 20px;
  padding: 10px;
  font-size: 15px;
  width: 450px;
  max-width: 70%;
}

.checkout-button {
  appearance: none;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 30px;
  font-weight: 600;
  line-height: 20px;
  margin: 0px;
  margin-left: calc(50% - 130px);
  margin-top: 20px;
  padding: 15px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  user-select: none;
  -webkit-user-select: none;
  text-align: center;
  touch-action: manipulation;
  vertical-align: middle;
  width: 260px;
  white-space: nowrap;
}

.checkout-fail {
  text-align: center;
  font-size: x-large;
  color: rgb(255, 255, 255);
}

.checkout-button {
  background-color: rgb(245, 181, 102);
  color: black;
  margin-bottom: 20px;
  margin-top: 0;
}

.checkout-button.detail {
  margin-left: 45%;
  left:-80px;
}

.checkout-button:hover {
  background-color: rgb(211, 137, 46);
}

.checkout-loading {
  color: white;
}