.navbar {
    position: fixed;
    margin-left: 100px;
    padding: 10px;
    height: 120px;
    width: 100%;
    background-color: rgb(236, 236, 236);
    z-index: 1;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.22) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.title {
    margin: auto;
    margin-top: 30px;
    font-size: 32px;
}