.navbar {
    clear: none !important;
    position: fixed;
    margin-left: 100px;
    padding: 10px;
    height: 120px;
    width: 100%;
    background-color: rgb(236, 236, 236);
    z-index: 1;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.16) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.company {
    width: 400px;
    height: 20px;
    margin: 0px;
    padding: auto;
    position: relative;
    top: -30px;
}

.title {
    font-size: 30px;
    padding-top: 35px;
}

#scroller {
    float: right;
    margin: 45px;
    height: 50px;
    width: auto;
}

.scroll-to {
    position: relative;
    padding-right: 30px;
    left: -60px;
    top: -80px;
    font-size: 25px;
    float: left;
}

.scroll-to.cart {
    padding-right: 10px;
}

#cart-count {
    background-color: rgb(245, 181, 102);
    position: relative;
    top:-15px;
    padding: 5px;
    border-radius: 50%;
    margin: 0;
    font-weight: bolder;
    font-size: large;
  }

@media (max-width: 1050px) {
   .navbar {
    height: 180px;
   }
   .company {
    width: 400px;
    height: 20px;
    margin: auto;
    padding: auto;
    margin-right: 30%;
}
   #scroller {
    float: none;
    margin: auto;
    position: relative;
    top: 40px;
    margin-right: 40px;
    padding-right: 40px;
    margin-left: 150px;
    right: 100px;
    width: 1200px;
   }
   .scroll-to {
    top: -0px;
    left: -40px;
   }
}