.product-detail {
  position: relative;
  display: flexbox;
  overflow: hidden;
  margin-left:100px;
  margin-top: 130px;
  /* background-image: url("https://i.imgur.com/kXEcLHM.jpg"); */
  }

.loading-wrapper {
  height: 840px;
}